framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    #http_method_override: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        storage_id: session.storage.native
        handler_id: session.handler.native_file
        save_path: "%kernel.cache_dir%/sessions"
        cookie_httponly: true
        cookie_secure: auto
        cookie_samesite: 'strict'

    #esi: true
    #fragments: true
    php_errors:
        log: true
